extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
       a(href='/google/auth') Sign in with Google
    li
       a(href='/auth/facebook') Sign in with Facebook
    li
       a(href='twitter/auth') Sign in with Twitter
    li
      a(href='github/auth') Sign in with Github
  if(!userData)
    pre You are not logged in
  else
    p You successfully logged in with #{strategy}
    p This is your token #{userData}
